/* 
body{
    font-family: "Poppins", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul il a{
    margin: 0 40px;
    text-decoration: none;
} */
